<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>

%if verification_display:
    %if verification_status == 'approved':
        <li class="status status-verification is-accepted">
            <span class="title status-title">${_("Current Verification Status: Approved")}</span>
            <p class="status-note">${_("Your ID verification has been approved.")}</p>
        </li>
    %elif verification_status == 'pending':
        <li class="status status-verification is-pending">
            <span class="title status-title">${_("Current Verification Status: Pending")}</span>
            <p class="status-note">${_("Your ID verification is pending. Your verification information has been submitted and will be reviewed shortly.")}</p>
        </li>
    %elif verification_status == 'approved_by_ai':
        <li class="status status-verification is-pending">
            <span class="title status-title">${_("Current Verification Status: Approved By AI")}</span>
            <p class="status-note">${_("Your ID verification is approved by AI. Now one of our Admin will verify your verification Manually.")}</p>
        </li>
    %elif verification_status in ['denied','must_reverify', 'must_retry']:
        <li class="status status-verification is-denied">
            <span class="title status-title">${_("Current Verification Status: Denied")}</span>
            <p class="status-note">
        ${_("Your verification submission was not accepted. You must submit a new photo of yourself and your government-issued photo ID before the verification.")}

            %if verification_errors:
                <br><br>
                ${_("Your verification was denied for the following reasons:")}<br>
                <ul>
                %for error in verification_errors:
                    <li>${_(error)}</li>
                %endfor
                </ul>
            %endif
            </p>
        <div class="btn-reverify">
            <a href="${reverse('verification:verify_student_identification')}" class="action action-reverify">${_("Resubmit Verification")}</a>
        </div>
        </li>
    %endif
%endif
