<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
import six
from django.utils.http import urlencode, urlquote_plus

from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from six import text_type
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from util.course import get_link_for_about_page, get_encoded_course_sharing_utm_params
%>

<header>
  % if static.get_value('course_about_show_social_links', True):
  <div class="social-sharing">
    <div class="sharing-message">${_("Share with friends and family!")}</div>
    ## TODO: this should probably be an overrideable block,
    ##       or something allowing themes to do whatever they
    ##       want here (and on this whole page, really).
      <%
        site_domain = static.get_value('site_domain', settings.SITE_NAME)
        site_protocol = 'https' if settings.HTTPS == 'on' else 'http'
        platform_name = static.get_platform_name()

        ## Translators: This text will be automatically posted to the student's
        ## Twitter account. {url} should appear at the end of the text.
        tweet_text = _("I just enrolled in {number} {title} through {account}: {url}").format(
            number=course.number,
            title=course.display_name_with_default,
            account=static.get_value('course_about_twitter_account', settings.PLATFORM_TWITTER_ACCOUNT),
            url=u"{protocol}://{domain}{path}".format(
                protocol=site_protocol,
                domain=site_domain,
                path=reverse('about_course', args=[text_type(course.id)])
            )
        ) ##.replace(u" ", u"+")
        tweet_action = u"http://twitter.com/intent/tweet?text={tweet_text}".format(tweet_text=six.moves.urllib.parse.quote_plus(tweet_text.encode('UTF-8')))

        facebook_link = static.get_value('course_about_facebook_link', settings.PLATFORM_FACEBOOK_ACCOUNT)
        share_settings = configuration_helpers.get_value(
            'SOCIAL_SHARING_SETTINGS',
            getattr(settings, 'SOCIAL_SHARING_SETTINGS', {})
        )
        if share_settings:
            share_url = get_link_for_about_page(course)
            encoded_utm_parameters = get_encoded_course_sharing_utm_params()
            share_window_name = 'shareWindow'
            share_window_config = 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=640, height=480'
        facebook_share_url = u"{url}?{utm_params}".format(url=share_url, utm_params=encoded_utm_parameters['facebook'])
        share_text = _("I'm taking {course_name} online with {facebook_brand}. Check it out!").format(
            course_name=course.display_name_with_default, facebook_brand='ta3leem.iq'
        )
        query_params = urlencode((('u', facebook_share_url), ('quote', share_text),))
        facebook_url = 'https://www.facebook.com/sharer/sharer.php?{query}'.format(query=query_params)
        share_msg = _("Share {course_name} on Facebook").format(course_name=course.display_name_with_default)



        email_body = _("I just enrolled in {number} {title} through {platform} {url}").format(
                number=course.number,
                title=course.display_name_with_default,
                platform=platform_name,
                url=u"{protocol}://{domain}{path}".format(
                    protocol=site_protocol,
                    domain=site_domain,
                    path=reverse('about_course', args=[text_type(course.id)]),
                )
        ) ##.replace(u" ", u"%20")

        email_subject = _("Take a course with {platform} online").format(platform=platform_name)
        email_link = u"mailto:?subject={subject}&body={body}".format(
            subject=email_subject.encode('UTF-8'),
            body=email_body.encode('UTF-8')
        )
      %>
      <a href="${tweet_action}" class="share">
        <span class="icon fa fa-twitter" aria-hidden="true"></span><span class="sr">${_("Tweet that you've enrolled in this course")}</span>
      </a>
      <a
        data-tooltip="${_('Share on Facebook')}"
        data-trigger="focus hover"
        class="action action-facebook share"
        href="${facebook_url}"
        rel="noopener"
        target="_blank"
        title="${_('Share on Facebook')}"
        data-course-id="${course.id}"
        onclick="var popupWindow = window.open('${facebook_url}', '${share_window_name}', '${share_window_config}'); popupWindow.opener = null; return false;">
        <span class="sr">${share_msg}</span>
        <span class="fa fa-facebook" aria-hidden="true"></span>
      </a>
      <a href="${email_link}" class="share">
        <span class="icon fa fa-envelope" aria-hidden="true"></span><span class="sr">${_("Email someone to say you've enrolled in this course")}</span>
      </a>
  </div>
  % endif
</header>
