<%page expression_filter="h"/>
<%!
  from django.utils.translation import ugettext as _
  from contentstore import utils
  from openedx.core.djangolib.js_utils import (
      dump_js_escaped_json, js_escaped_string
  )
  from django.urls import reverse
%>

<%inherit file="../base.html" />
<%namespace name='static' file='../static_content.html'/>
<%def name="online_help_token()"><% return "filters" %></%def>
<%block name="title">${_("Course Filters")}</%block>
<%block name="bodyclass">is-signedin index view-dashboard course-filters</%block>


<%block name="requirejs">
  require(["js/factories/course_filters"], function (IndexFactory) {
  });
</%block>




<%block name="content">

<div class="wrapper-mast wrapper">
    <header class="mast has-actions">
        <h1 class="page-header">${_("Course Filters")}</h1>
        <nav class="nav-actions" aria-label="${_('Page Actions')}">
            <h3 class="sr">${_('Page Actions')}</h3>
            <ul>
                <li class="nav-item action-item">
                    <a href="${reverse('home')}" class="button new-button">
                        <span class="icon fa fa-arrow-left icon-inline" aria-hidden="true"></span> <span class="action-button-text">${_("Go to Dashboard")}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="button button-new" id="newFilterButton" title="${_('Click to add a new filter')}">
                        <span class="icon fa fa-plus" aria-hidden="true"></span>${_('New Filter')}
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="wrapper-content wrapper">
  % if user.is_active:
      <section class="content">
        <article class="content-primary" role="main">
          <div class="wrapper-create-element wrapper-course-filter">
            <form class="form-create course-filter-form" id="course-filter-form" name="course-filter-form" method="post" action="/settings/filters/${course_key}">
                <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
              <div class="wrap-error">
                <div id="course-filter-error" class="message message-status message-status error" role="alert">
                    <p>${_("Please correct the highlighted fields below.")}</p>
                </div>
              </div>

              <div class="wrapper-form">
                <h3 class="title">${_("Add New Filter")}</h3>

                <fieldset>
                  <legend class="sr">${_("Required Information to create a new filter for course.")}</legend>

                  <ol class="list-input">
                    <li class="field select2 required" id="field-selectFilterCategory">
                      <label for="selectFilterCategory">${_("Filter Category")}</label>
                        <select class="text-editor select2" id="selectFilterCategory" name="filter-category" required>
                            <option value="">${_("Select Category")}</option>
                             % for filter_category in filter_categories:
                                <option value="${filter_category.id}">
                                % if LANGUAGE_CODE == 'ar' and filter_category.name_in_arabic:
                                    ${filter_category.name_in_arabic}
                                % else:
                                    ${filter_category.name}
                                % endif
                                </option>
                             % endfor
                        </select>
                      <span class="tip" id="tip-selectFilterCategory">${_("The category for filter creation.")}</span>
                      <span class="tip tip-error is-hiding" id="tip-error-email"></span>
                    </li>

                    <li class="field select2 required" id="field-filter-value" hidden>
                      <label for="selectFilterCategory">${_("Filter")}</label>
                        <select class="text-editor select2" id="selectFilterValue" name="filter-value">
                        </select>
                      <span class="tip" id="tip-filter-value">${_("The filter value.")}</span>
                      <span class="tip tip-error is-hiding" id="tip-selectFilterValue"></span>
                    </li>

                    <li class="field text" id="fieldAddNewFilter" hidden>
                      <label for="selectFilterCategory">${_("Filter")}</label>
                        <input class="input" id="addNewFilter" name="new-filter" type="text"/>
                      <span class="tip" id="tip-new-filter">${_("New filter value.")}</span>
                      <span class="tip tip-error is-hiding" id="tip-addNewFilter"></span>
                    </li>

                    <li class="field text" id="fieldAddNewArabicFilter" hidden>
                      <label for="selectFilterCategory">${_("Arabic Name of Filter")}</label>
                        <input class="input" id="addNewArabicFilter" name="new-arabic-filter" type="text"/>
                      <span class="tip" id="tip-new-arabic-filter">${_("New filter Arabic value.")}</span>
                      <span class="tip tip-error is-hiding" id="tip-addNewArabicFilter"></span>
                    </li>

                  </ol>
                </fieldset>
              </div>

              <div class="actions">
                <input type="submit" value="${_('Add')}" class="action action-primary enroll-users" />
              </div>
            </form>
          </div>

          <div class="table-responsive">
                <table class="display data-table" id="courseFilterListTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>${_("Filter")}</th>
                            <th>${_("Category")}</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for filter in course_filters:
                            <tr>
                                <td>
                                    % if LANGUAGE_CODE == 'ar' and filter.filter_value.value_in_arabic:
                                        ${filter.filter_value.value_in_arabic}
                                    % else:
                                        ${filter.filter_value}
                                    % endif
                                </td>
                                <td>
                                    % if LANGUAGE_CODE == 'ar' and filter.filter_value.value_in_arabic:
                                        ${filter.filter_value.filter_category.name_in_arabic}
                                    % else:
                                        ${filter.filter_value.filter_category}
                                    % endif
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>

        </article>

      </section>

  % else:
      <section class="content">
        <article class="content-primary" role="main">
          <div class="introduction">
            <h2 class="title">${_("Thanks for signing up, {name}!").format(name=user.username)}</h2>
          </div>

          <div class="notice notice-incontext notice-instruction notice-instruction-verification">
            <div class="msg">
              <h3 class="title">${_("We need to verify your email address")}</h3>
              <div class="copy">
                <p>${_('Almost there! In order to complete your sign up we need you to verify your email address ({email}). An activation message and next steps should be waiting for you there.').format(email=user.email)}</p>
              </div>
            </div>
          </div>
        </article>

        <aside class="content-supplementary" role="complementary">
          <div class="bit">
            <h3 class="title title-3">${_('Need help?')}</h3>
            <p>${_('Please check your Junk or Spam folders in case our email isn\'t in your INBOX. Still can\'t find the verification email? Request help via the link below.')}</p>
          </div>
        </aside>
      </section>
  %endif
</div>

</%block>
