{% extends "admin/change_form.html" %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        // It will populate the reviewing_user field on the page. If no user was previously assigned as reviewer
        // it will set the current logged in user as a reviewer.
        const reviewing_user_field = document.getElementById('id_reviewing_user');
        if (!reviewing_user_field.value) {
            reviewing_user_field.value = "{{request.user.id}}";
        }

        function noContextMenu(e){
            e.preventDefault();
        }
        // Stopping the right click operation on images so that no one can download them.
        face_img = document.getElementById('face_img').addEventListener('contextmenu', noContextMenu);
        photo_id_img = document.getElementById('photo_id_img').addEventListener('contextmenu', noContextMenu);
    </script>
{% endblock %}
