// Colors Palette


// Main color palette
$white: #FFFFFF;
$pink: #F6848E;
$sky_blue: #00C3FF;
$deep_purple: #2C1C59;

// shades color palette
$black: #000000;
$light_pink: #FFBAC0;
$blue: #074E87;
$purple: #463770;

// Gray palette
$gray_80: #333333;
$gray_60: #666666;
$gray_30: #B3B3B3;
$gray_20: #CCCCCC;

// Highlight color palette
$deep_yellow: #FFCC00;
$light_orange: #Ff9933;
$orange: #Ff6600;
$green: #97D637;

// Player
$porcelain: #f0f3f5;
$valhalla: #281958;
$haiti: #1d1240;
$viking: #53cae3;
$cornflower_blue: #6f71f1;
