.taleem-theme {
.account-act-modal-header {
        border-bottom: none !important;
    }
    .account-act-modal-btn-center {
        justify-content: center;
    }
    .account-act-modal-btn {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
}