<%page expression_filter="h"/>
<%!
import json
from six import text_type
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.utils.translation import get_language_bidi
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Verification Requests")}</%block>

<%block name="header_extras">
    <link href="${static.url('assets/vendor/datatables/datatables.bundle.min.css')}" rel="stylesheet" type="text/css"/>
    <style>
        .window-wrap {background-color: #f8f9fc;}
        /*div.dt-buttons {float: inherit;}*/
        input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {box-shadow: none;}
        .btn, button, .btn:hover, .btn:focus, button:hover, button:focus {background-image: none; box-shadow: none; text-shadow: none;}
        .btn-secondary:focus, .btn-secondary:hover {background-color: #717384 !important;}
        .dt-buttons .btn-secondary {color: #3a3b45;background-color: #f8f9fc;border-color: #f8f9fc;}
        .dt-buttons .btn-secondary:hover, .dt-buttons .btn-secondary:focus {color: #3a3b45; background-color: #dde2f1 !important; border-color: #d4daed;}
        table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {background-color: #eaf5f8;color: initial;}
        .text-red {color: #FF0000;}
        .text-green {color: #00FF00;}
        .modal-body .row { border-bottom: 1px solid #e3e6f0; }
    </style>
</%block>

<main aria-label="Content" class="bootstrap-iso" id="main" tabindex="-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        % if model_name == 'Student':
                            <h6 class="m-0 font-weight-bold text-primary">${_('Student')}</h6>
                        % elif model_name == 'Teacher':
                            <h6 class="m-0 font-weight-bold text-primary">${_('Teacher')}</h6>
                        % endif
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-bordered text-center" id="verificationRequestsTable" width="100%">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>${_("Full Name")}</th>
                                    <th>${_("Email")}</th>
                                    <th>${_("Status")}</th>
                                    <th>${_("Face Image")}</th>
                                    <th>${_("ID Image")}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    % for verification in verifications:
                                        <tr
                                            data-id="${verification.id}"
                                            data-target="#verificationModal"
                                            data-user-type="${model_name}"
                                            data-user-email="${verification.user.email}"
                                            data-user-face-image="${verification.face_image_url}"
                                            data-user-id-image="${verification.photo_id_image_url}"
                                            data-user-verification-status="${verification.status}"
                                            data-user-full-name="${verification.name}"
                                        >
                                            <td></td>
                                            <td>${verification.name}</td>
                                            <td>${verification.user.email}</td>
                                            <td name="status">${verification.status}</td>
                                            <td>
                                                <img src="${verification.face_image_url}" style="width: 150px; height: 150px"/>
                                            </td>
                                            <td>
                                                <img src="${verification.photo_id_image_url}" style="width: 150px; height: 150px" />
                                            </td>
                                            <td>
                                                <button
                                                    type="button"
                                                    data-toggle="modal"
                                                    class="btn btn-info modal-toggle"
                                                    data-target="#verificationModal"
                                                    id="detailsModal"
                                                >
                                                    Details
                                                </button>
                                            </td>
                                        </tr>
                                    % endfor
                                </tbody>
                            </table>
                        </div>
                        % if not verifications:
                        <p>${_("No verification to be reviewed")}</p>
                        % endif
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="verificationModal" tabindex="-1" role="dialog" aria-labelledby="verificationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="verificationModalLabel">User Verification Detail</h4>
          </div>
          <div class="modal-body" id="modal-body">
                <input type="hidden" name="verification_id" id="userVerificationID" value=""/>
                <div class="row">
                    <label style="font-weight: bold;">${_('Full Name')}:</label>
                    &nbsp<p id="userFullNameDetail"></p>
                </div>
                <div class="row">
                    <label style="font-weight: bold;">${_('Email')}:</label>
                    <p id="userEmailDetail"></p>
                </div>
                <div class="row">
                    <label style="font-weight: bold;">${_('Status')}:</label>
                    <p id="userVerificationStatusDetail"></p>
                </div>

                <div class="row">
                    <label style="font-weight: bold;">${_('Face Image')}:</label></br></br>
                    <img id="userFaceImageDetail" src=""></img>
                </div>

                <div class="row">
                    <label style="font-weight: bold;">${_('ID Image')}:</label></br></br>
                    <img id="userIdImageDetail" src=""></img>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success verificationStatusChange" id="modalApproveBtn" name="approved">Approve</button>
            <button type="button" class="btn btn-danger verificationStatusChange" id="modalDeniedBtn" name="denied">Denied</button>
          </div>
        </div>
      </div>
    </div>
</main>


<%block name="js_extra">
    <!-- Page level plugins -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="${static.url('assets/vendor/datatables/pdfmake/pdfmake.min.js')}" type="text/javascript"></script>
    <script src="${static.url('assets/vendor/datatables/pdfmake/vfs_fonts.js')}" type="text/javascript"></script>
    <script src="${static.url('assets/vendor/datatables/datatables.bundle.min.js')}" type="text/javascript"></script>

    <script>
        $(function() {
            $('.modal-toggle').on('click', function(){
                var rowClicked = $(this).parent().parent();
                var status = rowClicked.data('user-verification-status');
                $('#userVerificationID').attr('value', rowClicked.data('id'));
                $('#userEmailDetail').html(rowClicked.data('user-email'));
                $('#userFullNameDetail').html(rowClicked.data('user-full-name'));
                $('#userVerificationStatusDetail').html(status);
                $('#userFaceImageDetail').attr('src', rowClicked.data('user-face-image'));
                $('#userIdImageDetail').attr('src', rowClicked.data('user-id-image'));
                if(status === 'approved'){
                    $('#modalApproveBtn').prop('disabled', true);
                    $('#modalDeniedBtn').prop('disabled', false);
                } else if (status === 'denied') {
                    $('#modalDeniedBtn').prop('disabled', true);
                    $('#modalApproveBtn').prop('disabled', false)
                } else {
                    $('#modalDeniedBtn').prop('disabled', false);
                    $('#modalApproveBtn').prop('disabled', false)
                }
            });
        });

        $(function () {
            $('.verificationStatusChange').on('click', function(e){
                var verification_id = $('#userVerificationID').attr('value');
                var verifications = [verification_id];
                var status = $(this).prop('name');
                changeStatus(verifications, status);
            });
        });

        function changeStatus(verification_ids, status){
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "/verification/status_change/",
                data: JSON.stringify({verification_ids: verification_ids, status:status}),
                success: function (data) {
                    var verifications_update = data['verifications'];
                    verifications_update.forEach(function (id) {
                       $('tr[data-id="' + id + '"] td[name="status"]').html(status);
                       $('tr[data-id="' + id + '"]').data('user-verification-status', status);
                    });
                    $('#verificationModal').modal('hide');
                    table.rows().deselect();
                }
            });
        }

        $(document).ready(function() {
            // Call the dataTables jQuery plugin
            var table = $('#verificationRequestsTable').DataTable({
                columnDefs: [{targets: [0], visible: false}],
                dom: "<'row'<'col-sm-12 mb-2 text-right'B>>" +
                    "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                buttons: [
                    {
                        text: '<i class="las la-lg la-check-square text-primary"></i> ${_('Select All')}',
                        titleAttr: 'Select all',
                        action: function () {
                            table.rows().select();
                        }
                    },
                    {
                        text: '<i class="las la-lg la-times-circle text-danger"></i> ${_('Clear Selection')}',
                        titleAttr: 'Select none',
                        action: function () {
                            table.rows().deselect();
                        }
                    },
                    {
                        text: '<i class="las la-lg la-check-circle text-success"></i> ${_('Mark Selected Approved')}',
                        titleAttr: 'Mark Selected as approved',
                        action: function () {
                            var verification_ids = $.map(table.rows('.selected').nodes(), function (item) {
                                return $(item).data("id");
                            });
                            changeStatus(verification_ids, 'approved');

                        },
                        enabled: false
                    },
                    {
                        text: '<i class="las la-lg la-times-circle text-danger"></i> ${_('Mark Selected Denied')}',
                        titleAttr: 'Mark Selected as denied',
                        action: function () {
                            var verification_ids = $.map(table.rows('.selected').nodes(), function (item) {
                                return $(item).data("id");
                            });
                            changeStatus(verification_ids, 'denied')
                        },
                        enabled: false

                    },
                ],
                language: {
                    url: (typeof datatablesLangPath !== 'undefined') ? datatablesLangPath : "",
                },
            });

            table.on('select deselect', function () {
                var selectedRows = table.rows({selected: true}).count();

                table.button(2).enable(selectedRows > 0);
                table.button(3).enable(selectedRows > 0);
            });
        });
    </script>
</%block>
