<%page expression_filter="h"/>
<%!
    import json
    from six import text_type
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from django.utils.translation import get_language_bidi
    from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>


<%
  
  filter_icons = {
    "provider": "la-landmark",
    "subject": "la-book",
    "stage": "la-stream",
    "language": "la-language",
  }
%>

<%block name="header_extras">
<script type="text/template" id="live-class-card-tpl">
  <%static:include path="live_class/discover/card.underscore" />
</script>
<link rel="stylesheet" href="${static.url('assets/css/autoComplete.min.css')}">
<link rel="stylesheet" href="${static.url('css/filters.css')}">
<style>
  .highlighted-courses .courses, .find-courses .courses {
    padding: 20px 0 15px;
  }
  #suggestion-msg {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    margin-bottom: 20px;
    display: none;
  }
  #suggestion-msg .suggestion-cat{
    font-weight: 700;
  }
  /******* AutoComplete *******/
  .autoComplete_wrapper > input:focus {
    border: 0;
    box-shadow: none;
  }
  .autoComplete_wrapper > input:focus-visible {
    outline: #281958 auto 1px;
  }
  .autoComplete_wrapper > ul {
    overflow: hidden auto;
    margin-top: 1px;
    border-radius: 5px;
    right: -20px;
    left: -20px;
    max-height: 300px;
  }
  .autoComplete_wrapper > ul > li mark {
    background-color: transparent;
    color: #A445B0;
    font-weight: bold;
  }




</style>
</%block>


<section class="courses-container highlighted-courses live-classes">
    <input id="homepage_course_max" type="hidden" value="${settings.HOMEPAGE_COURSE_MAX}">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
  
      % if len(filters_data):
      <section class="courses-filter mt-3">
        <h1 class="filters-title"><i class="las la-lg la-filter mx-1"></i> ${_('Filter Live Classes')}</h1>
        <div id="search-filter" class="filter-item">
          <input id="filters-auto-complete" class="filter-input" type="text" name="search" placeholder="${_('Search for a live class')}">
        </div>
        <div id="filter-accordion" class="filter-accordion">
          %for filter_key, filter_items in filters_data.items():
          <div class="filter-card" data-filter="${filter_key}">
            <div class="filter-header collapsed" id="${filter_key}-filter-h" data-toggle="collapse" data-target="#${filter_key}-filter" aria-expanded="false" aria-controls="${filter_key}-filter">
              <h3 class="filter-title">
                <i class="las la-lg ${filter_icons[filter_key.lower()] if filter_key.lower() in filter_icons.keys() else 'la-filter'} mx-1"></i>
                % if LANGUAGE_CODE == "ar" and filter_items["category_name_in_arabic"]:
                ${filter_items["category_name_in_arabic"]}
                % else:
                ${filter_items["category_name"]}
                % endif
                <span id="${filter_key}-counter" class="filetr-count">0</span>
              </h3>
            </div>
            <div id="${filter_key}-filter" class="collapse" aria-labelledby="${filter_key}-filter-h" data-parent="#filter-accordion">
              <div class="filter-body">
                %for filter_item in filter_items["category_filters"]:
                <div class="form-check">
                  <input class="form-check-input filter-input" type="checkbox" name="${filter_key}[]" value="${filter_item['id']}" id="${filter_key}-${filter_item['id']}">
                  <label class="form-check-label" for="${filter_key}-${filter_item['id']}">
                    % if LANGUAGE_CODE == "ar" and filter_item["value_in_arabic"]:
                    ${filter_item["value_in_arabic"]}
                    % else:
                    ${filter_item["value"]}
                    % endif
                  </label>
                </div>
                %endfor
              </div>
            </div>
          </div>
          %endfor
        </div>
        <div id="sort-filter" class="filter-item">
          <h3 class="filter-label"><i class="las la-lg la-sort mx-1"></i> ${_('Sort')}</h3>
          <select class="filter-input" name="sort">
              <option value="" selected></option>
              <option value="start_date">${_('By Date')}</option>
              <option value="popular">${_('By Popularity')}</option>
              <option value="atoz">${_('Alphabetically A-Z')}</option>
              <option value="ztoa">${_('Alphabetically Z-A')}</option>
          </select>
        </div>
        <a class="filter-btn" id="live-class-filter-btn"><i class="las la-sync mx-1"></i>${_('Filter')}</a>
      </section>
      % endif
  
      <section class="courses container-fluid" id="courses-wrapper">
        <div id="suggestion-msg" class="alert alert-warning" role="alert">
          ${_("We couldn't find any courses for the selected filters. we will show you courses for")} :
          <span class="suggestion-cat"></span>
        </div>
        <div class="courses-listing row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          
        </div>
        
        <div class="pagination">
          <span id="live-class-filter-prev" class="prev"><i class="las la-angle-left"></i></span>
          <div id="live-class-filter-pages" class="pages">
              
          </div>
          <span id="live-class-filter-next" class="next"><i class="las la-angle-right"></i></span>
        </div>
        <div class="loading-block"><i class="las la-4x la-spin la-sync"></i></div>
      </section>
    % endif
  
  </section>

<%block name="pagetitle">${_("Live Classes")}</%block>

<%block name="js_extra">
  <!-- Page level custom js -->

  <script type="text/javascript" src="${static.url('assets/js/autoComplete.min.js')}"></script>
  <script type="text/javascript" src="${static.url('assets/js/live_class_filters.js')}"></script>
  <script type="text/javascript">
    var filterAutoCompleteId = "filters-auto-complete";
    var filterAutoCompletePlaceholder = "${_('Search for a live class')}";
    var filterAutoCompleteLoading = "${_('Loading')}";
    $(document).ready(function () {
      
      
      $("#live-class-filter-btn").click();
      
      // The autoComplete.js Engine instance creator
      const autoCompleteJS = new autoComplete({
        selector: "#" + filterAutoCompleteId,
        placeHolder: filterAutoCompletePlaceholder,
        data: {
          src: async (query) => {
            try {
              console.log("search for courses : " + query);
              // Loading placeholder text
              document.getElementById(filterAutoCompleteId).setAttribute("placeholder", filterAutoCompleteLoading);
              // Fetch Data from external Source
              const source = await fetch("/api/search/live/courses/?search=" + query);
              // Data is array of `Objects` | `Strings`
              const data = await source.json();
              // Post Loading placeholder text
              document.getElementById(filterAutoCompleteId).setAttribute("placeholder", autoCompleteJS.placeHolder);
              // Returns Fetched data
              return data.results;
            } catch (error) {
              return error;
            }
          },
          keys: ["name"]
        },
        threshold: 3,
        debounce: 300,
        resultsList: {
          noResults: true,
          maxResults: 15,
          tabSelect: true
        },
        resultItem: {
          highlight: true
        }
      });
      autoCompleteJS.input.addEventListener("selection", function (event) {
        const feedback = event.detail;
        autoCompleteJS.input.blur();
        // Prepare User's Selected Value
        const selection = feedback.selection.value[feedback.selection.key];
        // Replace Input value with the selected value
        autoCompleteJS.input.value = selection;
        filterLoadLiveClasses([], selection, filterSort, 1);
      });
    });
  </script>

  
</%block>
