<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%page args="course, is_favorite, is_enrolled, course_ratings" expression_filter="h"/>
<%
  course_id_str = str(course.id);
  course_rating_url = reverse('taleem:course_rating', args=(course_id_str, ))
%>

<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <div>
    <header class="course-image">
      <div class="cover-image">
        <a class="course-cover" href="${reverse('about_course', args=[text_type(course.id)])}">
          <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        </a>
      </div>
      % if user.is_authenticated and not is_enrolled:
      <span class="wishlist-btn">
        % if is_favorite:
          <span data-course_id="${text_type(course.id)}" class="wishlist-icon las la-lg la-heart"></span>
        % else:
          <span data-course_id="${text_type(course.id)}" class="wishlist-icon lar la-lg la-heart"></span>
        % endif
      </span>
      % endif
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${course.display_org_with_default}</span>
        <a href="${reverse('about_course', args=[text_type(course.id)])}">
          <span class="course-title">${course.display_name_with_default}</span>
        </a>
      </h2>
      <%
      if course.start is not None:
          course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
      else:
          course_date_string = ''
      %>
      % if course.advertised_start is not None:
          <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.advertised_start}</div>
      % else:
          <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}" data-string="${_("Starts: {date}")}"></div>
      % endif
      % if course_id_str in course_ratings:
       <div class="important-course-rating-item">
         <span class="important-dates-item-text">
           <span class='course-rating' id="${course_id_str}-star" data-isUserEnrolled="${is_enrolled | n, dump_js_escaped_json}" data-courseRatingURL="${course_rating_url}" data-userRating="${course_ratings[course_id_str]['user_rating'] or course_ratings[course_id_str]['avg_rating']}"></span>
         </span>
         <div>(${_("Avg")} <span class="avg-rating">${course_ratings[course_id_str]['avg_rating']}</span> ${_("stars")}, <span class="num-reviews">${course_ratings[course_id_str]['num_reviews']}</span> ${_("Reviews")})</div>
       </div>
      % endif
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default}</li>
        <li>${course.display_number_with_default}</li>
        % if course.advertised_start is not None:
            <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
        % else:
            <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></li>
        % endif
      </ul>
    </div>
  </div>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
