## mako
<%page expression_filter="h"/>
<%!
  from django.conf import settings
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  SOCIAL_MEDIA_FOOTER_URLS = {
    'Facebook': '#',
    'Twitter': '#',
    'Linkedin': '#',
    'Youtube': '#',
    'Instagram': '#'
  }
  SOCIAL_MEDIA_FOOTER_URLS_SETTINGS = getattr(settings, 'SOCIAL_MEDIA_FOOTER_URLS', {})
  SOCIAL_MEDIA_FOOTER_URLS.update(SOCIAL_MEDIA_FOOTER_URLS_SETTINGS)
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

  <div class="container-fluid footer-top">
    <div class="row my-3">
      <div class="col-6 footer-logo-block">
        <!-- <img class="image-logo" src="${static.url('images/footer-logo.png')}" alt="Footer Logo"> -->
        <object data="https://storage.ta3leem.iq/media/footer-logo.png" height="90"> </object>
      </div>
      <div class="col-6 footer-qr-block">
        <!-- <img class="image-qr" src="${static.url('images/qr-code.png')}" alt="QR Code"> -->
        <object data="${static.url('images/qr-code.png')}" height="90"> </object>
      </div>
    </div>
  </div>
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-6">
          <nav class="footer-share-nav site-nav navbar-expand-sm">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><span class="lab la-2x la-google-play"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="itms-services://?action=download-manifest&url=${'{}{}'.format(settings.LMS_ROOT_URL, reverse('taleem:download_app'))}"><span class="lab la-2x la-apple"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/honor">${_("Honor Code")}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/privacy">${_("Privacy Policy")}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${reverse('certificates:verify')}">${_("Verify Certificate")}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help">${_("Help")}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-6">
          <nav class="footer-nav navbar-expand-sm">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">${_("Follow Us")}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${SOCIAL_MEDIA_FOOTER_URLS['Twitter']}"><span class="lab la-2x la-twitter"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${SOCIAL_MEDIA_FOOTER_URLS['Linkedin']}"><span class="lab la-2x la-linkedin-in"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${SOCIAL_MEDIA_FOOTER_URLS['Youtube']}"><span class="lab la-2x la-youtube"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${SOCIAL_MEDIA_FOOTER_URLS['Instagram']}"><span class="lab la-2x la-instagram"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="${SOCIAL_MEDIA_FOOTER_URLS['Facebook']}"><span class="lab la-2x la-facebook-f"></span></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

<script>
  var defaultImage = "${static.url('images/placeholder.png')}";
  window.addEventListener("load", event => {
      var courseImages = document.querySelectorAll('.course-cover>img');
      courseImages.forEach((image) => {
        var isLoaded = image.complete && image.naturalHeight !== 0;
        if (!isLoaded) {
            image.src = defaultImage;
        }
      });
  });

  $(document).ready(function(){
    // ************ Wishlist New: Add/Remove Favorite
    $(".wishlist-icon").click(function(e){
        var course_id = $(this).data('course_id');
        var url = ($(this).hasClass('las')) ? '/api/wishlist/remove/': '/api/wishlist/add/';
        var method = ($(this).hasClass('las')) ? 'DELETE': 'POST';
        var $el = $(this);
        jQuery.ajax({
            type: method,
            url: url,
            data: {'course_key': course_id},
            success: function (res) {
                $el.toggleClass('las');
                $el.toggleClass('lar');
            },
            error: function (xhr) { // if error occured
                alert('Something went wrong!');
            }
        });
    });
  });
</script>
