<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
<style>
</style>
</%block>

<%block name="pagetitle">${_("Offline Exam Enter")}</%block>

<main id="main" aria-label="Content" tabindex="-1" class="bootstrap-iso">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="instructions">
                  <p><i class="las la-arrow-circle-down"></i></p>
                  <h1>Downloading the questions</h1>
                  <div class="text-center">
                    <img src="https://storage-ta3leem.dev.env.creativeadvtech.com/media/general/loading.gif">
                  </div>
                  <div class="error-actions">
                      <a href="/" class="btn btn-primary btn-lg"><span class="las la la-clock"></span>
                          Start the exam </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>

<%block name="js_extra">
</%block>
