<%page expression_filter="h"/>
<%!
    import json
    from six import text_type
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from django.utils.translation import get_language_bidi
    from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="header_extras">
    <link rel="stylesheet" type="text/css" href="${static.url('assets/vendor/datatables/datatables.bundle.min.css')}"/>
    <style>
        div.dt-buttons {float: inherit;}
        input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled),
        input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled),
        button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled),
        button:focus {background-image: none; box-shadow: none; text-shadow: none;}
        input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled),
        button:hover:not(:disabled), .button:hover:not(:disabled) {background-image: none; box-shadow: none; text-shadow: none;}
        .dt-buttons .btn-secondary {color: #3a3b45;background-color: #f8f9fc;border-color: #f8f9fc;}
        .dt-buttons .btn-secondary:hover, .dt-buttons .btn-secondary:focus {color: #3a3b45; background-color: #dde2f1 !important; border-color: #d4daed;}
        .text-red {color: #FF0000;}
        .text-green {color: #00FF00;}
    </style>
</%block>

<%block name="pagetitle">${_("Archived Exams")}</%block>

<main class="bootstrap-iso" id="main" aria-label="Content" tabindex="-1">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">${_("Archived Exams")}</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table text-center" id="archived-exams-table" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                      <th>${_("Name")}</th>
                                      <th>${_("Duration")}</th>
                                      <th>${_("Starts")}</th>
                                      <th>${_("Deadline")}</th>
                                      <th>${_("Mode of Examination")}</th>
                                      <th>${_("Exam Status")}</th>
                                      <th>${_("Attempted")}</th>
                                      <th>${_("Reviewed")}</th>
                                      <th>${_("Actions")}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  % for exam in archived_exams:
                                    <%include file="archived_exam_template.html" args="exam=exam.timed_exam" />
                                  % endfor
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</main>

<%block name="js_extra">
    <script type="text/javascript" src="${static.url('assets/vendor/datatables/datatables.bundle.min.js')}"></script>

    <!-- Page level custom js -->
    <script>
        $(document).ready(function() {
            var table = $('#archived-exams-table').DataTable({
                "oLanguage": {
                        "sEmptyTable": `${_("No Archived Exam")}`
                },
                language: {
                    url: (typeof datatablesLangPath !== 'undefined') ? datatablesLangPath : "",
                },
            });

        });
    </script>
</%block>
